<nav class="navbar  menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
            <a class="navbar-brand" id="logotipo" href="{{base}}"><img src="../img/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!--ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul-->
            <ul class="nav navbar-nav navbar-right">
                <!--li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li-->
            </ul>
        </div>
    </div>
</nav>

<section class="contact " id="contact" style="background-color:#7F4C9D; color:white;">


    <div class="container" >
        <div class="row" style="margin-top: 10%; margin-bottom: 10%"> 
            <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top:30px">
                <div class="">
                <iframe style="border:0; width:100%; min-height:300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27074.13326502099!2d13.218346521625444!3d-8.901203049146954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a51f510e19e4e67%3A0xc31096d337d1bfdc!2sNova+Vida%2C+Luanda%2C+Angola!5e0!3m2!1spt-PT!2spt!4v1513255949752" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                
                </div>
            </div>
            <div class="col-md-6">
               <div ng-show="msgSucessoC" class="alert alert-info">
                        {{msgSucessoC}}
                    </div>
                <h2 class="pb-3 align-left mbr-fonts-style display-2">
                    Contacte-nos
                </h2>
                <div>
                    <div class="icon-block pb-3">
                        <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true">Distrito Urbano do Nova Vida, Rua 34, Casa nº 425, Luanda - Angola.
</span>
                        </span>
                        <h4 class="icon-block__title align-left mbr-fonts-style display-5">
                            Tel: 924551053


                        </h4>
                    </div>
                    <div class="icon-contacts pb-3">

                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            geral@kepya.co.ao
                        </p>
                    </div>
                </div>
                <div data-form-type="formoid">
                    
                    <form>
                      
                        <div class="row">
                            <div class="col-md-6 multi-horizontal" data-for="name">
                                <input type="text" class="form-control input" ng-model="no" name="name" data-form-field="Name" placeholder="Seu nome" required="" id="name-form4-2y">
                                <br>
                            </div>
                            <div class="col-md-6 multi-horizontal" data-for="phone">
                                <input type="text" class="form-control input" ng-model="tel" name="phone" data-form-field="Phone" placeholder="Telefone" required="" id="phone-form4-2y"><br>
                            </div>
                            <div class="col-md-12" data-for="email">
                                <input type="text" class="form-control input" ng-model="em" name="email" data-form-field="Email" placeholder="Email" required="" id="email-form4-2y"><br>
                            </div>
                            <div class="col-md-12" data-for="message">
                                <textarea class="form-control input" ng-model="ms" name="message" rows="3" data-form-field="Message" placeholder="Mensagem" style="resize:none" id="message-form4-2y"  required="" ></textarea>
                            </div>
                            <div class="input-group-btn col-md-12" style="margin-top: 10px;">
                        <button  class="btn predominance btn-form display-4" ng-click="contactoAccao(no,em,tel,ms); no='';tel='';em='';ms='' " ng-disabled="!no || !tel|| !em|| !ms">ENVIAR MENSAGEM</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>