<div id="fullScreenDiv" style=" background-image: url('../img/agro.jpg') ;  background-repeat:  no-repeat center;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; overflow-x: hidden;" >


    <nav class="navbar  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
                

                <!--a class="navbar-brand" href="#">WebSiteName</a-->
                <a href="#" class="btn  homeButtonColor visible-xs" ng-click="register()" style="color:white;float:right;font-size:9px;  padding: 6px 10px 6px 10px; !important; margin-top:10px"><span >CRIAR UMA CONTA</span></a>
        <a href="#" class="btn  predominance visible-xs" ng-click="contactos()" style="color:white;font-size:9px;  margin-top:10px;  float:right"><span >CONTACTOS</span></a>
                <a href="#" class="btn  predominance visible-xs" ng-click="login()" style="color:white;font-size:9px;  margin-top:10px; margin-left:2px;  float:right"><span >LOGIN</span></a>

           <img src="../img/logo.png" style="width:100px;100px">
                <p><span style="color:#ffffff; font-size:14px">Aproximar para crescer</span> <br></p>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!--ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul-->
                <ul class="nav navbar-nav navbar-right navbar-inverse">
                   <li><a href="#" class="md-raised md-primary homeButtonColor" ng-click="contactos()"><span style="color:white; margin:14px 24px 24px 24px">CONTACTOS</span></a></li>
                    <li><a href="#" class="md-raised md-primary homeButtonColor" ng-click="login()"><span style="color:white; margin:14px 24px 24px 24px">LOGIN</span></a></li>
                    <li><a href="#" class="md-raised md-primary predominance" ng-click="register()"><span style="color:white; margin:14px 24px 24px 24px">CRIAR UMA CONTA</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" id="linguas">
    
            
                    <a href="#/" ng-click="linguaWebsite('es')" onclick="location.reload();"><img  id="spanish" src="../img/spanish.jpg" width="20" height="15" style="font-size:24px;color:#404040;margin-right:10px; " ></a>
                    <a href="#/" ng-click="linguaWebsite('fr')" onclick="location.reload();"><img src="../img/fr.png" width="20" height="15" style="font-size:24px;color:#404040; margin-right:10px; " ></a>
                    <a href="#/" ng-click="linguaWebsite('en')" onclick="location.reload();"><img src="../img/en.png" width="20" height="15" style="font-size:24px;color:#404040; margin-right:10px;"></a>
                    <a href="#/" ng-click="linguaWebsite('pt')" onclick="location.reload();"> <img src="../img/pt.png" width="20" height="15" style="font-size:24px;color:#404040;  margin-right:10px;"></a>
                    
                      <a href="#/" > <img src="../img/partes_site/phone.png" width="10" height="15" style="font-size:24px;color:#404040;  margin-right:10px;"></a>
                      
                    <span class="visible-xs" style=" color:#404040;  ">   {{config.telefone}}</span>
                    <span class="hidden-xs" style="color:#404040;font-weight: 600;">   {{config.telefone}}</span>

                   
            
            
            </div-->




    <img src="../img/agro.jpg" id="videosubstitute" alt="Full screen background video">



    <!--div class="buttondemoBasicUsage" id="menuEsq">
        <!--md-content>
            <section>
                <md-button class="md-raised md-primary homeButtonColor buttonsSize">Home</md-button><br>
                <md-button class="md-raised md-warn predominance  buttonsSize" ng-click="login()">Login</md-button><br>
                <md-button class="md-raised md-warn predominance buttonsSize" ng-click="register()">Registar-se</md-button><br>
                <md-button class="md-raised md-warn predominance buttonsSize" ng-click="alerta()">Acerca</md-button><br>
                <md-button class="md-raised md-warn predominance buttonsSize" ng-click="alerta()">Contactos</md-button><br>
            </section>
        </md-content>
    </div-->




    <div id="messageBox">
        <div id="text" class="hidden-xs">


            <h1 style="color:white; font-family: panton3 !important " id="slogan" s>AGROMERCADO DIGITAL DE ANGOLA</h1>
            <h3 style="color:white; font-family: panton3 !important ">Aproximar para crescer</h3>
            <center><br>
                <a href="#" class="btn  homeButtonColor " ng-click="register()" style="color:white;  padding: 13px 50px 13px 50px; !important; margin-top:40px"><span >CRIAR UMA CONTA</span></a>



                <!--md-button  class="md-raised md-warn" style="z-index: 10;">Saiba mais</md-button-->
            </center>
        </div>


        <div id="text" class="visible-xs" style="margin-left:-500px; max-width:250px">


            <h4 style="color:white; " id="slogan">AGROMERCADO DIGITAL DE ANGOLA</h4>
            <center><br>
<a href="#" class="btn  homeButtonColor " ng-click="register()" style="color:white;  padding: 13px 50px 13px 50px; !important; margin-top:40px"><span >CRIAR UMA CONTA</span></a>

                <!--md-button  class="md-raised md-warn" style="z-index: 10;">Saiba mais</md-button-->
            </center>
        </div>



    </div>
    <!--div id="logoRight">
        <div>
            <img src="../img/logo.png" style="width:100px;100px">
            <!--h3><a href="#main" class="scrolly">Read below</a></h3>
        </div>


    </div-->



    <!--div id="cockie">
    
    O Kepya utiliza cookies para lhe garantir a melhor experiência enquanto utilizador. Ao continuar a navegar no site, concorda com a utilização destes cookies. 
    
</div-->
</div>


<section class="download bg-primary text-center homeButtonColor" id="mvisao">
    <div class="container">
        <div class="row ">
           <center  style="margin-top: 5%"> <h1> O que é o Képya?</h1></center>
           <center >O <span style="text-transform: none !important"> Képya é uma agro-plataforma que conecta produtores e compradores e ao mesmo tempo garante o transporte da mercadoria</span></center>
            <div class="col-lg-12 col-md-6 col-sm-6  col-xs-12 mx-auto" style="margin-top: 5%">
             <center>  <img src="../img/tvip.png" class="img-responsive" style="max-height:500px"></center>
               
               
            </div>
            
            
            
            
        </div>
        
        <div class="row" style="margin-top: 5%; margin-bottom: 5%">
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-12 mx-auto">
                <h3 class="section-heading" style="font-family: panton1">Produtor:</h3>


                <p class="">O Kepya é o lugar certo para expores os teus produtos</p>
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-12 mx-auto">
                <h3 class="section-heading" style="font-family: panton1">Comprador:</h3>


                <p class="">Procure produtos na plataforma Kepya e receba-os directamente na sua casa ou no seu estabelecimento</p>
                
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-12 mx-auto">
                <h3 class="section-heading" style="font-family: panton1">Transportador:</h3>


                <p class="">Regista-te. Temos uma vasta gama de mercadorias para serem entregues em todos os lugares do país.</p>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-12 mx-auto">
                <h3 class="section-heading" style="font-family: panton1">InfLuenciador:</h3>


                <p class="">Cadastre produtos na plataforma Kepya</p>
               
            </div>
            
            
        </div>
    </div>
</section>
<!--section class="cta"  id="Valores" style="margin-bottom:40px; background-color:white">
    <div class="">
        <div class="container">
           
           
           
            <center><h2 style="margin-left:40px">A nossa equipa</h2></center>
            <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-12  col-lg-offset-5 col-md-6 col-sm-6  col-xs-6 col-xs-offset-3"> 
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../img/wr.png" style="max-width:200px" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Wanderley  Ribeiro, CEO</h4>
    <p class="card-text">Produtor Agro e Empreendedor em Consultoria Agrícola, Especialista em Redes Informáticas.
</p>
    
  </div>
</div>
      
       </div>
          </div>  
            
    <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6 mx-auto">        
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../img/julio.png" style="max-width:200px" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Júlio Chilela</h4>
    <p class="card-text">Engenheiro de software.</p>
   
  </div>
</div>
      </div> 
   <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6 mx-auto">    
       <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../img/dario.png" style="max-width:200px" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Dário Camati</h4>
    <p class="card-text">Advogado com larga  experiência em Direito Civil e Societário Imobiliário.</p>
   
  </div>
</div>
     </div>
      
     <div class="col-lg-3 col-md-6 col-sm-6  col-xs-6 mx-auto"> 
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../img/marcio.png" style="max-width:200px" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Márcio Cástro</h4>
    <p class="card-text">Gestor de Projectos IT e Analista de Sistemas.</p>
    
  </div>
</div>
      
       </div>
       
             
         
            <div class="col-lg-3 col-md-6 col-sm-6  col-xs-6 mx-auto"> 
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="../img/arao.png" style="max-width:200px" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">ARÃO GUERREIRO</h4>
    <p class="card-text">Gestor de  Empresas.</p>
    
  </div>
</div>
      
       </div>   
            
        </div>
    </div>
    <div class="overlay" style="color:#ffffff !important; "></div>
</section-->







<style type="text/css">
    #cockie {
        background-color: #A41925;
        color: #ffffff;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .buttonsSize {
        width: 100px
    }
    /* Default to hide the video on all devices */
    
    #video {
        display: none
    }
    /* Default to display the image on all devices */
    
    #videosubstitute {
        display: block;
        width: auto;
        height: 100%;
    }
    
    html,
    body {
        height: 100%;
        margin: 0;
    }
    
    #fullScreenDiv {
        width: 100%;
        min-height: 100%;
        /* Set the height to match that of the viewport. */
        height: 100vh;
        width: auto;
        padding: 0!important;
        margin: 0!important;
        background-color: gray;
        position: relative;
    }
    
    #video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        left: 0px;
        top: 0px;
        z-index: 1;
    }
    
    @media (min-aspect-ratio: 16/9) {
        #video {
            height: 150%;
            top: -100%;
        }
        #videosubstitute {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-aspect-ratio: 16/9) {
        #video {
            width: 150%;
            left: -100%;
        }
        #videosubstitute {
            display: block;
            width: auto;
            height: 100%;
        }
    }
    /*if there is 992  pixels or more, then display the video but hide the image*/
    
    @media only screen and (min-width: 992px) {
        #video {
            display: block;
        }
        #videosubstitute {
            display: none
        }
    }
    /* The container for our text and stuff */
    
    #menuEsq {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: left;
        justify-content: left;
        width: 100%;
        height: 100%;
        margin-top: 150px;
        z-index: 5;
    }
    
    #messageBox {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 4;
        margin-bottom: -110px;
    }
    
    #logoRight {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: right;
        justify-content: right;
        width: 100%;
        height: 100%;
    }
    
    #text {
        /*background-color: rgba(255, 0, 0, 0.4);*/
        padding: 30px 30px 30px 30px;
    }
    
    .buttondemoBasicUsage section {
        background: #f7f7f7;
        border-radius: 3px;
        text-align: center;
        margin: 1em;
        position: relative !important;
        padding-bottom: 10px;
    }
    
    .buttondemoBasicUsage md-content {
        margin-right: 7px;
    }
    
    .buttondemoBasicUsage section .md-button {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .buttondemoBasicUsage .label {
        position: absolute;
        bottom: 5px;
        left: 7px;
        font-size: 14px;
        opacity: 0.54;
    }
    /*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
</style>