<!DOCTYPE html>
<html ng-app="kepya" ng-controller="main" lang="en">

<head>
  <title>Kepya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/amp/views/" />
  



<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<!-- Bootstrap core JavaScript -->
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../css/register.css">
<link rel="stylesheet" href="../css/index.css">






  

</head>
<body style="font-family: pantonRegular">

 <div ng-view></div>

</body>


<script src="../controllers/home.js"></script>

<script src="../js/register.js"></script>

  <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />




</html>